@font-face {
    font-family: 'ITC Bauhaus';
    src: local('ITC Bauhaus Light'), local('ITC-Bauhaus-Light'),
        url('/fonts/BauhausStd-Light.woff2') format('woff2'),
        url('/fonts/BauhausStd-Light.woff') format('woff'),
        url('/fonts/BauhausStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Apply the font to the whole website */
body {
    font-family: 'ITC Bauhaus', sans-serif;
}

/* Ensure Particles.js background covers the entire page */
#particles-js {
    position: fixed; /* Changed to fixed to ensure it stays in place */
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: transparent; /* Prevents unwanted background issues */
    pointer-events: none; /* Ensures it doesn’t interfere with other elements */
}
