@font-face {
    font-family: 'ITC Bauhaus';
    src: local('ITC Bauhaus Light'), local('ITC-Bauhaus-Light'),
        url('/fonts/BauhausStd-Light.woff2') format('woff2'),
        url('/fonts/BauhausStd-Light.woff') format('woff'),
        url('/fonts/BauhausStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

// Example of applying the font globally
body {
    font-family: 'ITC Bauhaus', sans-serif;
}

/* Move duplicate image behind background and make it invisible */
.banner-layer-fix img {
    position: absolute !important;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: -1;  /* Pushes it behind */
    opacity: 0;  /* Fully transparent */
    pointer-events: none; /* Prevents any accidental interaction */
}